html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
	-webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-user-select: none; -webkit-highlight: none; -webkit-tap-highlight-color: rgba(0,0,0,0);
	
}
@media only screen and (max-width: 1080px) {
	.titulos{
		font-size: 42px;
		color:#444;
	}
	div, input, span {
		font-size: 28px;
		color:#777;
	}
	.rowdata{
		font-size: 18px;
	}
}
@media only screen and (max-width: 375px) {
	.titulos{
		font-size: 38px;
		color:#444;
	}
	div, input, span {
		font-size: 24px;
		color:#777;
	}
	.rowdata{
		font-size: 18px;
	}
}
@media only screen and (max-width: 360px) {
	.titulos{
		font-size: 35px;
		color:#444;
	}
	div, input, span {
		font-size: 22px;
		color:#777;
	}
	.rowdata{
		font-size: 14px;
	}
}
@media only screen and (max-width: 309px) {
	.titulos{
		font-size: 30px;
		color:#444;
	}
	div, input, span {
		font-size: 18px;
		color:#777;
	}
	.rowdata{
		font-size: 12px;
	}
}

@media only screen and (max-width: 270px) {
	.titulos{
		font-size: 26px;
		color:#444;
	}
	div, input, span {
		font-size: 14px;
		color:#777;
	}
	.rowdata{
		font-size: 10px;
	}
}
.elip{
	text-overflow: ellipsis;
}
.circulo {
    border-radius: 50%;
}
.circ1 {
    width: 40px;
    height: 40px;
    background: #388aba;
	-webkit-box-shadow: 0px 12px 8px -10px rgba(0,0,0,0.79);
	-moz-box-shadow: 0px 12px 8px -10px rgba(0,0,0,0.79);
	box-shadow: 0px 12px 8px -10px rgba(0,0,0,0.79);
}
.enGris{
-webkit-filter: grayscale(1);
filter:gray;
}

.ocultar{
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	transition: all 100ms linear;
}
.circback.ocultar {
    -moz-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    -o-transform: scale(0.01);
    -ms-transform: scale(0.01);
    transform: scale(0.01);
}